@model Employee
<a asp-action="Index" class="btn btn-secondary my-1">Back To Employee</a>
<h1 class="row justify-content-center">Create Employee</h1>
<form method="post" asp-action="Create" asp-controller="Employee">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="DepartmentID">Department ID</label>
        <input type="text" class="form-control" asp-for="DepartmentID">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Salary">Salary</label>
        <input type="text" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Password">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="UserName">User Name</label>
        <input type="text" class="form-control" asp-for="UserName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
